* {
  margin: 0;
  padding: 0;
}
/* center the grid */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.board {
  background-color: #ffffff;
  background-image: linear-gradient(
      45deg,
      #a3a3a3 25%,
      transparent 25%,
      transparent 75%,
      #a3a3a3 75%,
      #a3a3a3
    ),
    /* effect */
      linear-gradient(
        45deg,
        #a3a3a3 25%,
        transparent 25%,
        transparent 75%,
        #a3a3a3 75%,
        #a3a3a3
      );
  background-size: 120px 120px;
  background-position: 0 0, 60px 60px;
  width: 480px;
  height: 480px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.letters {
  display: inline-grid;
  grid-template-columns: repeat(8, 60px);
  justify-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 15px solid #3a3a3a;
  grid-template-areas:
    "a8 b8 c8 d8 e8 f8 g8 h8 "
    "a7 b7 c7 d7 e7 f7 g7 h7 "
    "a6 b6 c6 d6 e6 f6 g6 h6 "
    "a5 b5 c5 d5 e5 f5 g5 h5 "
    "a4 b4 c4 d4 e4 f4 g4 h4 "
    "a3 b3 c3 d3 e3 f3 g3 h3 "
    "a2 b2 c2 d2 e2 f2 g2 h2 "
    "a1 b1 c1 d1 e1 f1 g1 h1 ";
}
.grid__item {
  /* center item*/
  margin: auto;
}
/* black item*/
.black-rook-1 {
  grid-area: a8;
}
.black-knight-1 {
  grid-area: b8;
}
.black-bishop-1 {
  grid-area: c8;
}
.black-queen-1 {
  grid-area: d8;
}
.black-king-1 {
  grid-area: e8;
}
.black-bishop-2 {
  grid-area: f8;
}
.black-knight-2 {
  grid-area: g8;
}
.black-rook-2 {
  grid-area: h8;
}
.black-bishop-3 {
  grid-area: a7;
}
.black-bishop-4 {
  grid-area: b7;
}
.black-bishop-5 {
  grid-area: c7;
}
.black-bishop-6 {
  grid-area: d7;
}
.black-bishop-7 {
  grid-area: e7;
}
.black-bishop-8 {
  grid-area: f7;
}
.black-bishop-9 {
  grid-area: g7;
}
.black-bishop-10 {
  grid-area: h7;
}
/* white item*/
.white-bishop-1 {
  grid-area: a2;
}
.white-bishop-2 {
  grid-area: b2;
}
.white-bishop-3 {
  grid-area: c2;
}
.white-bishop-4 {
  grid-area: d2;
}
.white-bishop-5 {
  grid-area: e2;
}
.white-bishop-6 {
  grid-area: f2;
}
.white-bishop-7 {
  grid-area: g2;
}
.white-bishop-8 {
  grid-area: h2;
}
.white-rook-1 {
  grid-area: a1;
}
.white-knight-1 {
  grid-area: b1;
}
.white-bishop-9 {
  grid-area: c1;
}
.white-queen-1 {
  grid-area: d1;
}
.white-king-1 {
  grid-area: e1;
}
.white-bishop-10 {
  grid-area: f1;
}
.white-knight-2 {
  grid-area: g1;
}
.white-rook-2 {
  grid-area: h1;
}
